:root {
  --main-color: #212121;
  --link-color: #1976d2;
  --link-color-change: #ff4081;
}
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
  color: #212121;
  line-height: 1.5;
  font-size: 16px;
}

.link {
  color: var(--link-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--link-color-change);
  text-decoration: underline;
}

.site-nav .link {
  text-decoration: none;
}
